.like-icon {
  cursor: pointer;
  block-size: inherit;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.3s 0.11s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center center;
}

.like-icon:hover .core {
  fill: var(--animation-base-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--animation-base-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  animation: heart-beat 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

@keyframes arrow {
  0% {
    margin-inline-start: -20px;
  }
  100% {
    margin-inline-start: -24px;
  }
} 

@keyframes heart-beat {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}