@keyframes arrow {
  0% {
    margin-inline-start: -20px;
  }
  100% {
    margin-inline-start: -24px;
  }
} 

@keyframes heart-beat {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}