:root.theme-light {
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --background-color: #FFF;
  --accent-color: #000;
  --gradient-cell-color: #d3d3d3;
  --gradient-smoot-start-color: #e7e7e7;
  --gradient-smoot-end-color: #1a1a1a;
  --button-text-color: #fff;
  --animation-base-color: #000;
  --animation-fill-color: #FF0000;
}

:root.theme-dark {
  --font-weight-normal: 465;
  --font-weight-bold: 785;
  --background-color: #000;
  --accent-color: #00CC14;
  --gradient-cell-color: #000;
  --gradient-smoot-start-color: #007f0c;
  --gradient-smoot-end-color: #004306;
  --button-text-color: #00CC14;
  --animation-base-color: #00CC14;
  --animation-fill-color: #FF0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-normal: 465;
    --font-weight-bold: 785;
    --background-color: #000;
    --accent-color: #00CC14;
    --gradient-cell-color: #000;
    --gradient-smoot-start-color: #007f0c;
    --gradient-smoot-end-color: #004306;  
    --button-text-color: #00CC14;
    --animation-base-color: #00CC14;
    --animation-fill-color: #FF0000;
  }
}